<div class="pagewrapper" layout-padding>
	<h2 class="md-display-1">Settings</h2>
	<md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom>
		<md-tab>
			<md-tab-label>
	      <md-icon>settings_ethernet</md-icon>
				Data Types
	    </md-tab-label>
			<md-tab-body>
				<div ng-controller="WKSTypeList" ng-include="'partials/types.html'"></div>
			</md-tab-body>
		</md-tab>
		<md-tab>
			<md-tab-label>
	      <md-icon>account_circle</md-icon>
				Users
	    </md-tab-label>
			<md-tab-body>
				<div ng-controller="WKSUsers" ng-include="'partials/users.html'"></div>
			</md-tab-body>
		</md-tab>
		<md-tab>
			<md-tab-label>
	      <md-icon></md-icon>
				OLD - Mappings
	    </md-tab-label>
			<md-tab-body>
				<div ng-controller="WKSTypeList" ng-include="'partials/types.html'"></div>
			</md-tab-body>
		</md-tab>
	</md-tabs>
</div>
