<div class="pagewrapper" layout="row" layout-align="center start" layout-padding layout-wrap>
  <div class="maincard card" layout="column" flex="noshrink" layout-align="start start" >
    <md-content layout-padding>
      <div>
        <h2 class="md-display-1">Simple Search</h2>
        <div><span>Search the Glaser Collection for a sequence of keywords. <br>
        Separate them by SPACEs. Use * as wildcards.</span></div>
        <md-input-container class="md-block" >
          <label>Search Keyword(s)</label>
          <input ng-model="Model.keyword">
        </md-input-container>
        <md-button class="md-raised md-warn" ng-click="simpleSearch()">Submit</md-button>
      </div>
    </md-content>
  </div>
  <md-whiteframe class="md-whiteframe-3dp card subcard" layout="column" flex="noshrink" layout-align="start start">
    <md-content layout-padding>
      <div>
        <h3 class="md-title"><md-icon class="panelicon">info</md-icon>Information</h3>
        <div><span>Simple Search currently queries the Fields 'Title' and 'Translation' using an OR logic. And advanced search interface allowing for more complex queries will be available shortly.</span><br><br>
        <span>The Database currently contains Data on <br><h2>{{Model.total}}</h2> Squeezes.</span>
        <span>Of these <br><h2>{{Model.totalURI}}</h2> are georeferenced and can be viewed on a Map.</span>
        </div>
      </div>
    </md-content>
  </md-whiteframe>
  <md-whiteframe class="md-whiteframe-3dp card subcard" layout="column" flex="noshrink" layout-align="start start">
    <md-content layout-padding>
      <div>
        <h3 class="md-title"><md-icon class="panelicon">youtube_searched_for</md-icon>Previous Searches</h3>
        <div style="text-align: justify;"><span>Searches are currently saved in your browsers <a target="_blank" href="https://developer.mozilla.org/en/docs/Web/API/Window/localStorage">local storage service</a>. To clear these you can either clear your browsers cache or delete it <a href="" ng-click="clearHistory()">here</a>. Note that depending on your OS it may also be cleared at any time, especially on mobile devices!</span></div>
            <md-list flex>
              <md-list-item class="vspinentry projectline" style="margin-top: 0px;">
                  <p class="md-title">Term(s)</p>
                  <p></p>
                  <span class="md-title">Hits</span>
                  <md-divider ></md-divider>
              </md-list-item>            
              <md-list-item class="vspinentry projectline" style="margin-top: 0px;" ng-repeat="search in Model.osData.history.querystring track by $index" ui-sref="gl.results({queryID: {{$index+1}}, pageNo: '1'})">
                  <p>{{search}}</p>
                  <p></p>
                  {{Model.osData.history.result[$index]["1"].$$state.value.data.adlibJSON.diagnostic.hits || "not cached"}}
                  <md-divider ></md-divider>
              </md-list-item>
            </md-list>
      </div>
    </md-content>
  </md-whiteframe>
</div>