<!-- if it's a simple / repeatable property -->
<div layout="column" ng-if="value.type" class="innerbgbox greybox">
  <div layout="row" layout-align="space-between center" >
    <h4>{{property}}</h4>
    <div layout="row" layout-align="end center">
      <div ng-include="'partials/typeproptoolbar.html'"></div>
    </div>
  </div>
  <div layout="row" layout-wrap>
    <div ng-repeat="(property, value) in value" flex-gt-sm="50" flex="100">
      <ng-form name="propertyform">
        <!-- type value -->
        <md-input-container class="md-block" ng-if="property == 'type'">
          <label>{{property}}</label>
          <md-select ng-model="value">
            <md-option value="{{t}}" ng-repeat="t in atypes">
              {{t}}
            </md-option>
          </md-select>
        </md-input-container>
        <!-- required validator -->
        <md-switch ng-model="value" ng-if="property == 'required'">
          required: {{ value }}
        </md-switch>
        <!-- ref validator -->
        <md-input-container class="md-block" ng-if="property == 'ref'">
          <label>{{property}}</label>
          <md-select ng-model="value">
            <md-option value="{{t}}" ng-repeat="t in arefs">
              {{t}}
            </md-option>
          </md-select>
        </md-input-container>
        <!-- min / max validator -->
        <!-- enum validator -->
        <!-- match validator -->
        <!-- maxlength validator -->
        <!-- minlength validator -->
        <md-switch ng-model="value" ng-if="property == 'repeatable'">
          repeatable: {{ value }}
        </md-switch>
        <md-input-container class="md-block" ng-if="property == 'path'">
          <label>{{property}}</label>
          <input ng-model="value" disabled>
        </md-input-container>
      </ng-form>
    </div>
    <div flex-gt-xs>
    </div>
  </div>
</div>
<!-- if it's a nested / repeatable document property -->
<div ng-if="!value.type && property!='path' && property != 'repeatable'" class="innerbgbox descbox">
  <div layout="row" layout-align="space-between center">
    <h4>{{property}}</h4>
    <div layout="row" layout-align="end center">
      <div ng-include="'partials/typeobjtoolbar.html'"></div>
    </div>
  </div>
  <div layout="column" id="{{property}}" path="{{path}}" ng-repeat="(property, value) in value" ng-include="'partials/stypeproperty.html'" class="md-padding" ></div>
</div>
<div ng-if="property == 'path'">
  <md-input-container class="md-block" >
    <label>{{property}}</label>
    <input ng-model="value" disabled>
  </md-input-container>
</div>
<div ng-if="property == 'repeatable'">
  <md-switch ng-model="value" >
    repeatable: {{ value }}
  </md-switch>
</div>
