<div class="pagewrapper" layout="column" layout-align="start start" layout-padding>
	<md-table-container>
	  <table md-table ng-model="selected" md-progress="promise">
	    <thead md-head md-order="" md-on-reorder="getNewOrder">
	      <tr md-row>
	        <th md-column md-order-by="title"><span>Title</span></th>
	        <th md-column><span>UID</span></th>
	        <th md-column><span>Created</span></th>
	      </tr>
	    </thead>
	    <tbody md-body>
	      <tr md-row
	      		md-select="schema"
	      		md-select-id="{{schema.title}}"
	      		ng-repeat="schema in schemas"
	      		ui-sref="wks.singletype({id: '{{schema._id}}'})"
	      		class="vspinentry" ng-style="dynStyle" ng-init="dynStyle={'animation-delay':$index/50+'s','overflow':'hidden'}">
	        <td md-cell>{{schema.title}}</td>
	        <td md-cell>{{schema._id}}</td>
	        <td md-cell>{{}}</td>
	      </tr>
	    </tbody>
	  </table>
	</md-table-container>
	<md-table-pagination md-limit="Model.Pagesize" md-limit-options="[10, 20, 40, 100]" md-page="Model.Page" md-total="{{Model.Total}}" md-on-paginate="getPage" md-page-select></md-table-pagination>
</div>
